RewriteEngine On
RewriteBase /

#Force SSL
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ http://ittires.dev.rebelutedigital.com/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
